body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  background-image: url("./img/background.jpg");
}

.game {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plate-wrapper {
}
